<div class="row">
  <div class="col-2">
    <img src="<%= viewData.image %>" alt="User avatar">
  </div>
  <div class="col-8">
    <h3><%= viewData.title %></h3>
    <p><%= viewData.description %></p>
  </div>