<div class="container d-flex justify-content-center align-items-center">
  <div class="row">
    <div class="col-md-auto">
      <img src="<%= viewData.image %>" alt="User avatar">
    </div>
    <div class="col">
      <h3><%= viewData.title %></h3>
      <p><%= viewData.description %></p>
    </div>
  </div>