/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
  }
  body {
    /* Margin bottom by footer height */
    padding-bottom: 60px;
    background-color: rgb(255, 248, 248);
    color: rgb(32, 32, 32);
    font-family: 'JetBrains Mono', monospace;
    margin-bottom: 50px;
    margin-top: 50px;
  }

  img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
  }

  .navbar-brand {
    margin-left: 10px;
  }

  .header {
    margin-bottom: 50px;
  }

  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    /* horizontally center the text */
    text-align: center;
    background-color: rgb(32, 32, 32);
    /* make it so that the footer has space at the top */
  }
  
  /* Custom page CSS
  -------------------------------------------------- */
  /* Not required for template or sticky footer method. */
  
  body > .container {
    padding: 60px 15px 0;
  }
  
  .footer > .container {
    padding-right: 15px;
    padding-left: 15px;
  }
