<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">
      GitLab issues for Assignment B2
    </h1>
    <p>
      <em>Hooked up on a feeling</em>
    </p>
    <p>
      <a class="btn btn-dark btn-lg" href="https://about.gitlab.com/" role="button">
        Learn more »
      </a>
    </p>
  </div>
</div>
